html {
    background: white;
}

.header {
    background: lightgray;
    width: 99vw;
    height: 15vh;
}

#smbox {
    background: blue;
    width: 6vw;
    height: 14vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
}

.stuff {
    width: 99vw;
    height: 15vh;
    margin-left: 4vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#blue {
    background: blue;
    width: 99vw;
    height: 15vh;
}

#lblue {
    background: lightblue;
    width: 99vw;
    height: 15vh;
}

#lgreen {
    background: lightgreen;
    width: 99vw;
    height: 15vh;
}

#yellow {
    background: gold;
    width: 99vw;
    height: 15vh;
}